<!DOCTYPE html>
<html ng-app="phostery" manifest="store.appcache">
<head>
  <meta charset="utf-8">
  <title>Phostery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FAFAFA">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="img/icon.png" />
  <meta name="description" content="A Collection manager using HTML5, AngularJs and Material Design">
  <meta name="keywords" content="photo, design, private, collection, save, offline, angular, app">
  <!-- IMPORTS LIBS -->
  <link rel="stylesheet" href="css/material.min.css">
  <link rel="stylesheet" href="css/material-icons.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animate.min.css">
</head>
<body ng-controller="appController">
  <!-- GENERAL CONTAINER -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title" ng-bind="name"></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We sow it in small screens. -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" ng-click="showInput(2); share()">
            <span>Share Album</span>
            <button style="color: rgba(0, 0, 0, 0.54);" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">link</i>
            </button>
          </a>
          <a style="display: none" class="mdl-navigation__link header-add-button" ng-click="showInput(0)">
            <span>Add Photo</span>
            <button style="color: rgba(0, 0, 0, 0.54);" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">insert_photo</i>
            </button>
          </a>
          <!-- Right aligned menu below button -->
          <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
            <li class="mdl-menu__item" ng-click="showInput(1)">Rename Album</li>
            <li class="mdl-menu__item" id="save-data" ng-show="images.length" ng-click="save(false)">Save All</li>
            <li class="mdl-menu__item" id="clear-data" ng-click="reset()">Clear Data</li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Hidden OPTIONS FOR IMAGE SELECTION -->
    <div id="options" class="mdl-color--indigo-400 animated">
      <div class="mdl-layout__header-row">
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="clearSelection()">
          <i class="material-icons">arrow_back</i>
        </button>
        <span id="amount-selected" class="mdl-layout-title" style="padding: 0 12px 0 4px">Selected</span>
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="selectAll()">
          <i class="material-icons">select_all</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="showInput(2); share('selected')">
          <i class="material-icons">link</i>
        </button>
        <button id="save-selected" class="mdl-button mdl-js-button mdl-button--icon" ng-click="save(true)" style="display: none;">
          <i class="material-icons">save</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="deleteSelected()">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
    <!-- CARDS BODY -->
    <main class="mdl-layout__content">
      <!-- FAB -->
      <button id="fab" ng-click="showInput(0)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored">
        <i class="material-icons">insert_photo</i>
      </button>
      <!-- CARDS -->
      <div class="page-content">
        <div class="container">
          <div class="row" ng-show="images.length">
            <div class="thumb col-md-4" style="cursor: pointer" ng-repeat="x in images | limitTo:totalRepeat">
              <div class="mdl-card mdl-shadow--2dp" ng-style="{'background':'url({{x.url}}) center / cover'}">
                <div class="mdl-card--expand" ng-click="showImage(x, $index)"></div>
                <div class="mdl-card__actions">
                  <span class="demo-card-image__filename">
                      <button ng-click="removeItem($index)" style="float: right;" class="mdl-button mdl-js-button mdl-button--icon delete-icon">
                        <i class="material-icons">delete</i>
                      </button>
                      <a href="{{x.url}}" target="_blank">
                        <button style="float: right; color: white;" class="mdl-button mdl-js-button mdl-button--icon">
                          <i class="material-icons">open_in_browser</i>
                        </button> 
                      </a>
                       <button style="float: right; color: white;" ng-click="select($event, $index)" class="mdl-button mdl-js-button mdl-button--icon select not-selected">
                          <i class="material-icons">check</i>
                        </button> 
                    </span>
                </div>
              </div>
            </div>
          </div>
          <!-- LOAD MORE IMAGES BUTTON -->
          <div class="loadMore" ng-hide="totalRepeat >= images.length">
            <div ng-click="loadMore()">LOAD MORE</div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- IMAGE OPENING -->
  <div class="image-show">
    <!-- CONTROLS -->
    <div>
      <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="closeImage()">
        <i class="material-icons">arrow_back</i>
      </button>
      <button style="float:right;" class="mdl-button mdl-js-button mdl-button--icon" ng-click="deleteImage()">
        <i class="material-icons">delete</i>
      </button>
      <button style="float: right;" class="mdl-button mdl-js-button mdl-button--icon" ng-click="openImage()">
        <i class="material-icons">open_in_browser</i>
      </button> 
    </div>
  </div>
  <!-- URL INPUT-->
  <div class="input animated">
    <div class="mdl-card mdl-shadow--8dp">
      <div style="color: #727272;padding: 16px 16px 0 16px" class="mdl-card__title">
        Add An Image
        <i class="material-icons" style="padding: 0 4px">insert_photo</i>
      </div>
      <form style="padding: 16px 16px 0 16px">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input class="mdl-textfield__input" autocomplete="off" ng-model="images.url" type="text" id="sample3" />
          <label style="color: rgb(63,81,181); font-weight: 100" class="mdl-textfield__label" for="sample3">
            Url to image...
          </label>
        </div>
        <button style="color: #727272" type="button" class="mdl-button mdl-js-button" ng-click="hideInput(0)">Cancel</button>
        <button style="float: right" type="button" ng-click="addItem(images.url); hideInput(0)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
        ng-disabled="!images.url">Add</button>
      </form>
    </div>
  </div>
  <!-- ALBUM NAME INPUT-->
  <div class="input animated">
    <div class="mdl-card mdl-shadow--8dp">
        <div style="color: #727272;padding: 16px 16px 0 16px" class="mdl-card__title">
        Rename Album
        <i class="material-icons" style="padding: 0 4px;font-size: 20px;">mode_edit</i>
      </div>
      <form class="form" style="padding: 16px 16px 0 16px">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
          <input class="mdl-textfield__input" autocomplete="off" ng-model="name" type="text" id="sample3" />
          <label style="color: rgb(63,81,181); font-weight: 100" class="mdl-textfield__label" for="sample3">
            Album's name...
          </label>
        </div>
        <button style="color: #727272" type="button" class="mdl-button mdl-js-button" ng-click="hideInput(1)">Close</button>
        <button style="float: right" type="button" ng-click="changeName(name); hideInput(1)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
        ng-disabled="!name">Add</button>
      </form>
    </div>
  </div>
  <!-- SHARE ALBUM INPUT-->
  <div class="input animated">
    <div class="mdl-card mdl-shadow--8dp">
      <div style="color: #727272;padding: 16px 16px 0 16px" class="mdl-card__title">
        Share Link
        <i class="material-icons" style="padding: 0 4px">link</i>
      </div>
      <form class="form" style="padding: 16px 16px 0 16px">
        <div class="mdl-textfield mdl-js-textfield textfield-demo">
          <input class="mdl-textfield__input mdl-color-text--indigo-300" autocomplete="off" type="text" ng-model="shareLink" />
        </div>
        <button style="float: right" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="hideInput(2)">Ok</button>
      </form>
    </div>
  </div>
  <!-- SNACK BAR -->
  <div id="snackbar" class="animated">
    <span></span>
  </div>
  <!-- Scripts -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-touch.min.js"></script>
  <script src="js/material.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>